body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.garden-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ff0000, #000000);
    opacity: 0;
    transition: opacity 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.garden-background.visible {
    opacity: 1;
}

#tulip {
    width: 200px;
    height: 300px;
}

.hidden {
    opacity: 0;
}

#stem.visible {
    animation: drawStem 3s forwards;
}

#flower.visible .petal {
    animation: drawFlower 3s forwards, fillFlower 2s forwards 3s; /* Fill starts after draw animation ends */
}

@keyframes drawStem {
    from {
        stroke-dasharray: 0 100;
    }
    to {
        stroke-dasharray: 100 0;
        opacity: 1;
    }
}

@keyframes drawFlower {
    from {
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

@keyframes fillFlower {
    from {
        fill: none;
    }
    to {
        fill: #DA70D6;
    }
}
